SW/Input.json
[
    {
        "id": "3eecda46.531f36",
        "type": "string",
        "z": "5f7c5ad8.f8bc74",
        "name": "Input Number",
        "methods": [
            {
                "name": "delLeftMost",
                "params": [
                    {
                        "type": "str",
                        "value": "input/inputTestCard/value/"
                    }
                ]
            }
        ],
        "prop": "topic",
        "propout": "inputNumber",
        "object": "msg",
        "objectout": "msg",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "38ba129d.7c743e"
            ]
        ]
    },
    {
        "id": "53b1bff7.3fd308",
        "type": "mqtt in",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "topic": "input/inputTestCard/#",
        "qos": "2",
        "broker": "cd783833.0683e",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "3eecda46.531f36",
                "a783bd1c.e0504"
            ]
        ]
    },
    {
        "id": "38ba129d.7c743e",
        "type": "function",
        "z": "5f7c5ad8.f8bc74",
        "name": "Parse numbers",
        "func": "\n    node.status({fill:\"blue\",shape:\"dot\",text: msg.inputNumber});\n\n    \n    msg.payload = parseInt(msg.payload);\n    msg.inputNumber = parseInt(msg.inputNumber);\n    node.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 200,
        "wires": [
            [
                "de4f3d4b.cae29",
                "6d9945c9.297284"
            ]
        ]
    },
    {
        "id": "d9ee4b34.9af6",
        "type": "debounce",
        "z": "5f7c5ad8.f8bc74",
        "time": "70",
        "name": "",
        "x": 920,
        "y": 200,
        "wires": [
            [
                "c297aa36.8fcdc8"
            ]
        ]
    },
    {
        "id": "c297aa36.8fcdc8",
        "type": "timed-counter",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "timelimit": "300",
        "withhold": false,
        "fixedtimeout": false,
        "x": 1100,
        "y": 200,
        "wires": [
            [
                "82ceb518.064088"
            ]
        ]
    },
    {
        "id": "82ceb518.064088",
        "type": "switch",
        "z": "5f7c5ad8.f8bc74",
        "name": "SImple ou double clic",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1320,
        "y": 200,
        "wires": [
            [
                "c007f666.2cafb"
            ],
            [],
            []
        ]
    },
    {
        "id": "de4f3d4b.cae29",
        "type": "switch",
        "z": "5f7c5ad8.f8bc74",
        "name": "Pushed or released?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "d9ee4b34.9af6"
            ],
            []
        ],
        "outputLabels": [
            "==1 --> pushed",
            "==0 --> released"
        ]
    },
    {
        "id": "6d9945c9.297284",
        "type": "debug",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "a783bd1c.e0504",
        "type": "debug",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 110,
        "y": 180,
        "wires": []
    },
    {
        "id": "2f46af6f.ac9498",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "Changer la valeur dans \"delLeftMost\" si le topic change",
        "info": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "c007f666.2cafb",
        "type": "switch",
        "z": "5f7c5ad8.f8bc74",
        "name": "Simple clic",
        "property": "inputNumber",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "18",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "19",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "23",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "24",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "25",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "26",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "27",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "28",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "29",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "31",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "32",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "33",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "34",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "35",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "36",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "37",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "38",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "39",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "40",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "41",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "42",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "43",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "44",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "45",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "46",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "47",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "48",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "49",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "51",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "52",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "53",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "54",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "55",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "56",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "57",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "58",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "59",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "60",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "61",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "62",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "63",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 64,
        "x": 210,
        "y": 1880,
        "wires": [
            [
                "fef8ad22.9c7be"
            ],
            [
                "f3d921f2.51bb78"
            ],
            [
                "8380e25c.20d0a8"
            ],
            [
                "a8986288.c7dc1"
            ],
            [
                "29d783d8.cd74ec"
            ],
            [
                "c9a58b56.9952c8"
            ],
            [
                "4b698e04.77ef3"
            ],
            [
                "ed1871ac.774a8"
            ],
            [
                "a1b70b41.c8f06"
            ],
            [
                "c90d6829.b142b8"
            ],
            [
                "73dc7288.bdb3cc"
            ],
            [
                "712330bd.23573"
            ],
            [
                "b7af5ef2.487968"
            ],
            [
                "69b3361a.a89bd8"
            ],
            [
                "52c922ad.bf5e4c"
            ],
            [
                "b45b8705.980468"
            ],
            [
                "b988d5b1.722028"
            ],
            [
                "fb9e092c.9579c8"
            ],
            [
                "5efe0812.758f4"
            ],
            [
                "b686b816.d8817"
            ],
            [
                "a4b42c51.d27678"
            ],
            [
                "f81030fe.24f398"
            ],
            [
                "39e8936c.44d034"
            ],
            [
                "c38027a8.c05d7"
            ],
            [
                "6e9b8f2f.d31dc"
            ],
            [
                "6a95def7.f63f8"
            ],
            [
                "5b2af864.bb3738"
            ],
            [
                "6a97b07c.594af8"
            ],
            [
                "41474f0d.062db"
            ],
            [
                "a34a0489.e36da"
            ],
            [
                "a1355c0b.fc59d8"
            ],
            [
                "3c731720.5f7d4"
            ],
            [
                "9f10228f.5679d8"
            ],
            [
                "d3ae7e23.cd6b9"
            ],
            [
                "9ed8597a.60de48"
            ],
            [
                "9f259929.6c25c8"
            ],
            [
                "beaa364a.f105e8"
            ],
            [
                "846fab7c.5280e8"
            ],
            [
                "8976c891.34178"
            ],
            [
                "9b146877.133e2"
            ],
            [
                "1ae65530.3da12b"
            ],
            [
                "b9b7e9e3.c482"
            ],
            [
                "7372b25.948cbcc"
            ],
            [
                "39b07093.2f8ad"
            ],
            [
                "ab003472.6591a"
            ],
            [
                "ee1b7499.4dd06"
            ],
            [
                "fc9da1bc.6a6a1"
            ],
            [
                "bcb5240c.d9ba4"
            ],
            [
                "5fcc49bc.0b5e38"
            ],
            [
                "1d0c5197.e845ae"
            ],
            [
                "618bfd9c.9a8a8c"
            ],
            [
                "77ee32b8.5d085c"
            ],
            [
                "47d0271a.e445"
            ],
            [
                "261796cf.fdf8aa"
            ],
            [
                "120a678b.52edd8"
            ],
            [
                "b8005099.43a748"
            ],
            [
                "6272e16c.a4f81"
            ],
            [
                "784c8858.a049b"
            ],
            [
                "4b541f86.67ea08"
            ],
            [
                "43c1bc09.e73c24"
            ],
            [
                "2d31732.39c018c"
            ],
            [
                "b73c5171.4816e"
            ],
            [
                "116061f9.28fe3e"
            ],
            [
                "2504f825.d1c7b8"
            ]
        ],
        "outputLabels": [
            "0",
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12",
            "13",
            "14",
            "15",
            "16",
            "17",
            "18",
            "19",
            "20",
            "21",
            "22",
            "23",
            "24",
            "25",
            "26",
            "27",
            "28",
            "29",
            "30",
            "31",
            "32",
            "33",
            "34",
            "35",
            "36",
            "37",
            "38",
            "39",
            "40",
            "41",
            "42",
            "43",
            "44",
            "45",
            "46",
            "47",
            "48",
            "49",
            "50",
            "51",
            "52",
            "53",
            "54",
            "55",
            "56",
            "57",
            "58",
            "59",
            "60",
            "61",
            "62",
            "63"
        ]
    },
    {
        "id": "b686b816.d8817",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "eada7925.b6b9b",
            "d522985.413fde8"
        ],
        "x": 595,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a4b42c51.d27678",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "2b2a85c8.1fba7a",
            "f0f8d51c.9a9e98"
        ],
        "x": 595,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f81030fe.24f398",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "552d59c4.758678",
            "15a2ef22.52ac71",
            "be85597.9675a28"
        ],
        "x": 595,
        "y": 1240,
        "wires": []
    },
    {
        "id": "39e8936c.44d034",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1280,
        "wires": []
    },
    {
        "id": "c38027a8.c05d7",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1320,
        "wires": []
    },
    {
        "id": "52c922ad.bf5e4c",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 960,
        "wires": []
    },
    {
        "id": "b45b8705.980468",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b988d5b1.722028",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "eada7925.b6b9b",
            "d522985.413fde8"
        ],
        "x": 595,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fb9e092c.9579c8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "2b2a85c8.1fba7a",
            "f0f8d51c.9a9e98"
        ],
        "x": 595,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5efe0812.758f4",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "552d59c4.758678",
            "be85597.9675a28",
            "f0f8d51c.9a9e98"
        ],
        "x": 595,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c90d6829.b142b8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 760,
        "wires": []
    },
    {
        "id": "73dc7288.bdb3cc",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 800,
        "wires": []
    },
    {
        "id": "712330bd.23573",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 840,
        "wires": []
    },
    {
        "id": "b7af5ef2.487968",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 880,
        "wires": []
    },
    {
        "id": "69b3361a.a89bd8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 920,
        "wires": []
    },
    {
        "id": "29d783d8.cd74ec",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 560,
        "wires": []
    },
    {
        "id": "c9a58b56.9952c8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 600,
        "wires": []
    },
    {
        "id": "4b698e04.77ef3",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 640,
        "wires": []
    },
    {
        "id": "ed1871ac.774a8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 680,
        "wires": []
    },
    {
        "id": "a1b70b41.c8f06",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 720,
        "wires": []
    },
    {
        "id": "a34a0489.e36da",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1560,
        "wires": []
    },
    {
        "id": "a1355c0b.fc59d8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "32bd58f1.7fa5b8",
            "6f6bc221.d96f54",
            "ee9074e9.5ca4e8",
            "ed6e591b.e79118"
        ],
        "x": 595,
        "y": 1600,
        "wires": []
    },
    {
        "id": "3c731720.5f7d4",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "32bd58f1.7fa5b8",
            "6f6bc221.d96f54",
            "ee9074e9.5ca4e8",
            "ed6e591b.e79118"
        ],
        "x": 595,
        "y": 1640,
        "wires": []
    },
    {
        "id": "9f10228f.5679d8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1680,
        "wires": []
    },
    {
        "id": "d3ae7e23.cd6b9",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1720,
        "wires": []
    },
    {
        "id": "6e9b8f2f.d31dc",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1360,
        "wires": []
    },
    {
        "id": "6a95def7.f63f8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1400,
        "wires": []
    },
    {
        "id": "5b2af864.bb3738",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6a97b07c.594af8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [
            "32bd58f1.7fa5b8",
            "6f6bc221.d96f54",
            "ee9074e9.5ca4e8",
            "ed6e591b.e79118"
        ],
        "x": 595,
        "y": 1480,
        "wires": []
    },
    {
        "id": "41474f0d.062db",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1d0c5197.e845ae",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2360,
        "wires": []
    },
    {
        "id": "618bfd9c.9a8a8c",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2400,
        "wires": []
    },
    {
        "id": "77ee32b8.5d085c",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2440,
        "wires": []
    },
    {
        "id": "47d0271a.e445",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2480,
        "wires": []
    },
    {
        "id": "261796cf.fdf8aa",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2520,
        "wires": []
    },
    {
        "id": "ab003472.6591a",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2160,
        "wires": []
    },
    {
        "id": "ee1b7499.4dd06",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2200,
        "wires": []
    },
    {
        "id": "fc9da1bc.6a6a1",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2240,
        "wires": []
    },
    {
        "id": "bcb5240c.d9ba4",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2280,
        "wires": []
    },
    {
        "id": "5fcc49bc.0b5e38",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2320,
        "wires": []
    },
    {
        "id": "9b146877.133e2",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1960,
        "wires": []
    },
    {
        "id": "1ae65530.3da12b",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2000,
        "wires": []
    },
    {
        "id": "b9b7e9e3.c482",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2040,
        "wires": []
    },
    {
        "id": "7372b25.948cbcc",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2080,
        "wires": []
    },
    {
        "id": "39b07093.2f8ad",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2120,
        "wires": []
    },
    {
        "id": "9ed8597a.60de48",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9f259929.6c25c8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1800,
        "wires": []
    },
    {
        "id": "beaa364a.f105e8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1840,
        "wires": []
    },
    {
        "id": "846fab7c.5280e8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1880,
        "wires": []
    },
    {
        "id": "8976c891.34178",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 1920,
        "wires": []
    },
    {
        "id": "43c1bc09.e73c24",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2760,
        "wires": []
    },
    {
        "id": "2d31732.39c018c",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2800,
        "wires": []
    },
    {
        "id": "b73c5171.4816e",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2840,
        "wires": []
    },
    {
        "id": "116061f9.28fe3e",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2880,
        "wires": []
    },
    {
        "id": "2504f825.d1c7b8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2920,
        "wires": []
    },
    {
        "id": "120a678b.52edd8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2560,
        "wires": []
    },
    {
        "id": "b8005099.43a748",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2600,
        "wires": []
    },
    {
        "id": "6272e16c.a4f81",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2640,
        "wires": []
    },
    {
        "id": "784c8858.a049b",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2680,
        "wires": []
    },
    {
        "id": "4b541f86.67ea08",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 2720,
        "wires": []
    },
    {
        "id": "fef8ad22.9c7be",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 400,
        "wires": []
    },
    {
        "id": "f3d921f2.51bb78",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 440,
        "wires": []
    },
    {
        "id": "8380e25c.20d0a8",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 480,
        "wires": []
    },
    {
        "id": "a8986288.c7dc1",
        "type": "link out",
        "z": "5f7c5ad8.f8bc74",
        "name": "",
        "links": [],
        "x": 595,
        "y": 520,
        "wires": []
    },
    {
        "id": "466b0b40.ed682c",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "60",
        "info": "",
        "x": 520,
        "y": 2800,
        "wires": []
    },
    {
        "id": "dad7ff3e.97e09",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "50",
        "info": "",
        "x": 520,
        "y": 2400,
        "wires": []
    },
    {
        "id": "341b7151.c818ce",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "40",
        "info": "",
        "x": 520,
        "y": 2000,
        "wires": []
    },
    {
        "id": "37a8be08.fde912",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "30",
        "info": "",
        "x": 520,
        "y": 1600,
        "wires": []
    },
    {
        "id": "cae5a28a.508258",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "20",
        "info": "",
        "x": 520,
        "y": 1200,
        "wires": []
    },
    {
        "id": "988c22d7.622668",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "10",
        "info": "",
        "x": 520,
        "y": 800,
        "wires": []
    },
    {
        "id": "76e5bcf1.739534",
        "type": "comment",
        "z": "5f7c5ad8.f8bc74",
        "name": "0",
        "info": "",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "cd783833.0683e",
        "type": "mqtt-broker",
        "z": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]